.clipText {
    background: url('/assets/clip.png');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "willametterising", sans-serif;
    background-clip: text;
    background-position: 50% 100%;
    background-size: contain;
}

header {
    padding: 20px 0 40px;
    text-align: center;
    position: relative;
}

h1 {
    font-size: 100px;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 62px;
    }

    header {
        padding: 10px 0 20px;
    }
}