html, body {
	height: 100%;
	width: 100%;
	background: #202020;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.wrapper {
	display: flex;
}

li {
	cursor: pointer;
}

.selected {
	color: #55AA4D;
}

.items {
	flex-basis: 20%;
}

.cards {
	flex-basis: 80%;
}

.card-images {
	display: grid;
	grid-template-columns: 348px 348px 348px 348px;
	column-gap: 10px;
	row-gap: 10px;
}

.card-images .image {
	width: 348px;
	height: 492px;
}

.card-images .image img {
	width: 100%;
	height: 100%;
}

.search {
	margin-bottom: 10px;
}