html, body {
	height: 100%;
	width: 100%;
	background: #202020;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.wrapper {
	display: flex;
}

.overlay-wrapper {
	background:rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	max-height: 100%;

}

li {
	cursor: pointer;
}

