html, body {
	height: 100%;
	width: 100%;
	background: #202020;
}

@font-face {
    font-family: 'willametterising';
    src: url('./../assets/fonts/willamette-rising-webfont.woff2') format('woff2'),
         url('./../assets/fonts/willamette-rising-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'evogriaregular';
    src: url('./../assets/fonts/evogria.regular-webfont.woff2') format('woff2'),
         url('./../assets/fonts/evogria.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.wrapper {
	display: flex;
}

li {
	cursor: pointer;
}

.selected {
	color: #55AA4D;
}

.items {
	flex-basis: 20%;
}

.cards {
	flex-basis: 80%;
}

.card-images {
	display: grid;
	grid-template-columns: 348px 348px 348px 348px;
	column-gap: 10px;
	row-gap: 10px;
}

.card-images .image {
	width: 348px;
	height: 492px;
	position: relative;
}

.card-images .image img {
	width: 100%;
	height: 100%;
}

.card-name {
	color: rgb(230, 207, 61);
	bottom: 33.25%;
	position: absolute;
	transform: rotate(-6.5deg);
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 39px;
	text-transform: uppercase;
	font-family: 'evogriaregular', sans-serif;
	letter-spacing: 0px;
}

.card-name.filtered-out {
	color: rgba(230, 207, 61, 0.75);
}

.card-items {
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.card-items div {
	background: black;
	border: solid 2px white;
	text-align: center;
	padding: 3px 20px;
	font-size: 18px;
	font-weight: bold;
}

.search {
	margin-bottom: 10px;
}